nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: white;
  border-bottom: 1px solid #ddd;
}

nav h2 {
  color: #2563eb;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav li {
  cursor: pointer;
}